html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#map {
  height: 100%;
  width: calc(100vw - 280px);
}

#container-infos {
  width: 250px;
  background-color: white;
  height: 100%;
  padding: 40px 25px 0px 25px;
  overflow: scroll;
}

#container-fiches-restos {
  margin-top: 40px;
  margin-bottom: 40px;
}

.fiche-resto {
  width: 240px;
  min-height: 58px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basic-info {
  padding: 15px 20px 10px 20px;
}

h1 {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.apercuStreetView {
  border-radius: 5px 5px 0px 0px;
}

.container-note {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.container-note .star {
  width: 115px;
}

.note-txt,
.adresse,
.note-avis,
.comment,
.add-comment {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.moyenne-stars {
  display: flex;
  overflow: hidden;
}

.adresse {
  margin-top: 0px;
  font-weight: 700;
}

.expand-container {
  padding: 0 20px 10px 20px;
}

.note-avis,
.add-comment-container {
  font-weight: 700;
  border-top: solid 1px black;
  margin-top: 15px;
  padding: 15px 10px 5px 10px;
  display: flex;
  flex-direction: column;
}

.comment {
  padding: 0 10px 0 10px;
}

.add-note {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 20px 0px;
  width: 90px;
}

.checkbox-add-avis {
  height: 18px;
  width: 18px;
}

.checkmark-filtre-add-avis {
  height: 18px;
  width: 18px;
}

.add-comment {
  outline: none;
  border: 0;
  border-bottom: solid 1px gray;
  padding-bottom: 5px;
  margin: 10px 0 20px 0;
  resize: vertical;
  width: 100%;
  height: 20px;
}

.send-comment {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  padding: 10px;
  outline: none;
}

.send-comment:hover {
  background-color: rgba(0, 0, 0, 0.10);
}