html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  overflow: hidden;
}

#container-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#map {
  height: 100%;
  width: calc(100vw - 280px);
}

#container-infos {
  width: 250px;
  background-color: white;
  height: 100%;
  padding: 40px 25px 0px 25px;
  overflow: scroll;
}

#container-fiches-restos {
  margin-top: 40px;
  margin-bottom: 40px;
}

.fiche-resto {
  width: 200px;
  min-height: 58px;
  box-shadow:  0px 2px 5px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  padding: 15px 20px 10px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.container-note {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.container-note .star {
  width: 115px;
}

.note-txt {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.container-stars {
  display: flex;
  overflow: hidden;
}